.uploader {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.25rem dashed #a5a5c7;
  text-align: center;
  transition: all 0.1s; }
  .uploader.active {
    background-color: #f0f8ff;
    border-style: solid;
    transition: all 0.1s; }
  .uploader .btn {
    position: relative;
    overflow: hidden; }
    .uploader .btn input[type="file"] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      border: solid transparent;
      width: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer; }
      .uploader .btn input[type="file"]::-webkit-file-upload-button {
        cursor: pointer; }

.img-container {
  height: 400px;
  width: 100%;
  background-color: #f0f8ff; }
  .img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block; }

.result-image {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 1px solid #0d6efd; }

form .invalid-feedback {
  display: block; }

.profile-list-card .card-body {
  padding: 20px; }
.profile-list-card img {
  width: 80px;
  height: 80px; }
.profile-list-card a {
  text-decoration: none; }
.profile-list-card .profile-card {
  width: 65%; }
  @media (max-width: 767px) {
    .profile-list-card .profile-card {
      width: 75%; } }
  @media (max-width: 499px) {
    .profile-list-card .profile-card {
      width: 100%; } }
.profile-list-card .arrow-block {
  width: 35%; }
  @media (max-width: 767px) {
    .profile-list-card .arrow-block {
      width: 25%; } }
  @media (max-width: 499px) {
    .profile-list-card .arrow-block {
      width: 100%; }
      .profile-list-card .arrow-block br {
        display: none; } }
  .profile-list-card .arrow-block .last-seen {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px; }
    @media (max-width: 499px) {
      .profile-list-card .arrow-block .last-seen {
        text-align: right; } }
  @media (max-width: 767px) {
    .profile-list-card .arrow-block a {
      display: none !important; } }
  .profile-list-card .arrow-block a::before {
    font-size: 40px;
    font-size: 40px;
    cursor: pointer; }
