{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Редактирование пользователя {{ user.first_name }}
  {{ user.last_name }}{% endblock %}
{% block content %}

  <div class="pagetitle">
    <h1>Редактирование пользователя</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}"><i
            class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item"><a href="
{% url 'users:user_manage' %}">Пользователи</a></li>
        <li class="breadcrumb-item">{{ user.first_name }}
          {{ user.last_name }}</li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="row d-flex  flex-lg-row flex-column-reverse">
      <div class="col-lg-8 col-md-12">
        <div class="card profile-list-card mb-3">
          <div class="card-body d-flex flex-row row">
            <form method="post"
                  action="{% url 'users:user_edit' user_id=user.id %}">
              {% csrf_token %}
              {% include 'users/forms/user_user_form.html' %}
              {% include 'users/forms/user_profile_form.html' %}
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Сохранить
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card p-3">
          <h5>Пояснение</h5>
          <p>Здесь вы можете поменять информацию о пользователе, выдать или
            убрать у него права администратора.
          </p>
          <p>Чтобы заблокировать пользователя, уберите галочку у поля
            "Активный пользователь" и сохраните.</p>
          <p>Если пользователь не может подтвердить email по какой-либо
            причине, вы как администратор можете подтвердить за него,
            поставив галочку в соответсвтущее поле и сохранив форму.</p>
          <p>Если пользователь не активен или email не подтвержден, он не
            появится в результатах поиска на <a href="
{% url 'users:user_list' %}">этой</a>
            странице</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_scripts %}
   <link rel="stylesheet"
        href="{% static 'vendor/bootstrap-select/bootstrap-multiselect.min.css' %}">
  <script
      src="{% static 'vendor/bootstrap-select/bootstrap-multiselect.min.js' %}"></script>
  <script>
     jQuery(document).ready(function ($) {
         let multiselectOptions = {
             nonSelectedText: 'Выбрать группы',
             includeSelectAllOption: true,
             selectAllText: 'Выбрать все',
             allSelectedText: 'Выбрано все',
             buttonContainer: '<div class="btn-group multiselect-group">',
             buttonClass: 'btn btn-primary',
             buttonText: function (options) {
                 if (options.length === 0) {
                     return 'Выбрать группы';
                 } else if (options.length >= 2) {
                     return options.length + ' выбрано';
                 } else {
                     var selected = [];
                     options.each(function () {
                         selected.push([$(this).text(), $(this).data('order')]);
                     });

                     selected.sort(function (a, b) {
                         return a[1] - b[1];
                     });

                     var text = '';
                     for (var i = 0; i < selected.length; i++) {
                         text += selected[i][0] + ', ';
                     }

                     return text.substr(0, text.length - 2);
                 }
             },
             templates: {
                 button:
                     '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                 popupContainer: '<div class="multiselect-container ' +
                     'dropdown-menu"></div>',
             },
         }
         $('#multiselect').multiselect(multiselectOptions);
     });
  </script>
{% endblock %}