{% extends "base.html" %}
{% load static %}
{% block title %}Войти{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="text-center">
          <img class="mb-2" src="{% static 'images/logo-circle.svg' %}" alt=""
               width="72" height="72">
        </div>
        <h1 class="h3 mb-4 fw-normal text-center">Введите новый пароль</h1>
        <div class="card">
          <div class="card-body">
            {% include 'inc/forms/_form_nonfield_errors.html' %}
            <form method="post">
              {% csrf_token %}

              {% include 'inc/forms/_form_fields.html' %}
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">
                  Назначить новый пароль
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="text-center">
            <img class="mb-2" src="{% static 'images/logo-circle.svg' %}"
                 alt=""
                 width="72" height="72">
          </div>
          <h1 class="h3 mb-4 fw-normal text-center">Ошибка</h1>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела. Попробуйте
              восстановить пароль еще раз</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}