{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}ASPECT | Главная{% endblock %}
{% block content %}
  <div class="pagetitle">
    <h1>Главная</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'main:home_page' %}">Главная</a></li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card users-card">

              <div class="card-body">
                <h5 class="card-title">Пользователи <span>| Всего</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ users.count }}</h6>
                    <span class="text-success small pt-1 fw-bold">+{{ users_last_month.count }}</span> <span class="text-muted small pt-2 ps-1">за месяц</span>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card docs-card">
              <div class="card-body">
                <h5 class="card-title">Документы <span>| Доступно вам</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-file-text"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ docs.count }}</h6>
                    <span class="text-success small pt-1 fw-bold">+{{ docs_last_month.count }}</span> <span class="text-muted small pt-2 ps-1">за месяц</span>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card news-card">
              <div class="card-body">
                <h5 class="card-title">Новости <span>| Всего</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-newspaper"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ posts.count }}</h6>
                    <span class="text-danger small pt-1 fw-bold">+{{ posts_last_month.count }}</span> <span class="text-muted small pt-2 ps-1">за месяц</span>

                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Последние документы<span> | Для вас</span></h5>

                <table class="table table-borderless datatable">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Статус</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if docs%}
                  {% for doc in docs|slice:":5" %}
                    <tr>
                      <th scope="row"><a href="{% url 'docs:doc_detail' doc_id=doc.id %}">#{{ doc.id }}</a></th>
                      <td><a class="text-primary" href="{% url 'docs:doc_detail' doc_id=doc.id %}">{{ doc.title }}</a></td>
                      <td>{{ doc.category }}</td>
                      <td>
                        {% if not doc.for_signing %}
                          <span class="badge bg-info">К ознакомлению</span>
                        {% else %}
                          {% if doc in request.user.signed_documents.all %}
                            <span class="badge bg-success">Подписан</span>
                          {% else %}
                            <span class="badge bg-warning">К подписанию
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                    {% else %}
                    <tr><td class="text-center" colspan="4">Документы не найдены</td></tr>
                  {% endif %}
                  </tbody>
                </table>

              </div>

            </div>
          </div>
          <div class="col-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Неподписанные документы</h5>

                <table class="table table-borderless datatable">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Статус</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if unsigned_docs %}
                  {% for doc in unsigned_docs|slice:":5" %}
                    <tr>
                      <th scope="row"><a href="{% url 'docs:doc_detail' doc_id=doc.id %}">#{{ doc.id }}</a></th>
                      <td><a class="text-primary" href="{% url 'docs:doc_detail' doc_id=doc.id %}">{{ doc.title }}</a></td>
                      <td>{{ doc.category }}</td>
                      <td>
                        {% if not doc.for_signing %}
                          <span class="badge bg-info">К ознакомлению</span>
                        {% else %}
                          {% if doc in request.user.signed_documents.all %}
                            <span class="badge bg-success">Подписан</span>
                          {% else %}
                            <span class="badge bg-warning">К подписанию
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                    {% else %}
                    <tr>
                    <td colspan="4" class="text-center">Нет неподписанных документов</td>
                    </tr>
                  {% endif %}

                  </tbody>
                </table>

              </div>

            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Последние новости<span> | Сегодня</span></h5>
            <div class="news-card">
              {% if posts %}
              {% for post in posts|slice:":6" %}
                <div class="news-card-item d-flex">
                  <div class="news-card-label">{{ post.created_at|prettydateshort }}</div>
                  <div>
                    <h4><a href="{% url 'posts:post_detail' post_id=post.id %}">{{ post.title }}</a></h4>
                    <p>{{ post.body|striptags|clearnbsp|truncatewords:10 }}</p>
                  </div>
                </div>
              {% endfor %}
                {% else %}
                <div class="news-card-item d-flex"><p>Новости не найдены</p></div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Новые пользователи <span> | За месяц</span></h5>
            <div class="users">
              {% if users_last_month %}
              {% for user in users_last_month|slice:":6" %}
                <div class="users-item d-flex">
                  <div class="users-photo"><img src="{{ user.profile.thumbnail.url }}" alt=""></div>
                  <div class="users-text-wrap">
                    <h4><a href="{% url 'users:user_profile' user_id=user.id %}">{{ user.first_name }} {{ user.last_name }}</a></h4>
                    <p>{{ user.email }}</p>
                  </div>
                </div>
              {% endfor %}
                {% else %}
                <div class="users-item d-flex">
                <p>Нет новых пользователей за последний месяц</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
{% endblock %}



