{% load user_filters %}
{% csrf_token %}
{% for field in password_change_form %}
  <div class="row mb-3"
      {% if field.field.required %}
       aria-required="true"
      {% else %}
       aria-required="false"
      {% endif %}
  >
    <label for="{{ field.id_for_label }}"
           class="col-md-5 col-lg-4 col-form-label">
      {{ field.label }}
      {% if field.field.required %}
        <span class="required text-danger">*</span>
      {% endif %}
    </label>
    <div class="col-md-7 col-lg-8">
      {{ field|addclass:'form-control' }}
    </div>
    {% include 'inc/forms/_form_field_errors.html' %}
    {% if field.help_text %}
      <small id="{{ field.id_for_label }}-help" class="form-text
                    text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}

  </div>
{% endfor %}