{% extends "inc/forms/_unregistered_user.html" %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}
{% block page_title %}Восстановление пароля{% endblock %}
{% block page_descr %}Письмо отправлено{% endblock %}
{% block unreg_content %}
  <div class="col-12">
  <p>Проверьте почтовый ящик</p>
    <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для
            восстановления пароля. <strong>Если письма нет, проверьте папку "Спам".</strong></p>
  </div>
{% endblock %}