{% extends "inc/forms/_unregistered_user.html" %}
{% load static %}
{% block title %}Зарегистрироваться{% endblock %}
{% block page_title %}Зарегистрироваться{% endblock %}
{% block page_descr %}Заполните поля, чтобы создать аккаунт{% endblock %}
{% block unreg_content %}
  <form method="post"  {% if action_url %} action="{% url 'action_url' %}" {% endif %}
      class="row g-3 needs-validation" novalidate >
  {% csrf_token %}
    {% include 'inc/forms/_form_nonfield_errors.html' %}
    {% include 'inc/forms/_form_fields.html' %}
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Зарегистрироваться
      </button>
    </div>

    <div class="col-12">
      <p class="small mb-0">Уже есть аккаунт?
        <a href="{% url 'authapp:login' %}">Войти</a></p>
    </div>
  </form>
{% endblock %}