{% load static %}
<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'main:home_page' %}">
      <i class="bi bi-grid"></i>
      <span>Главная</span>
    </a>
  </li>

  {% if request.user.is_staff or request.user.is_admin %}
    <li class="nav-heading">Админка</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#admin-nav"
         data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Админка</span><i
          class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="admin-nav" class="nav-content collapse "
          data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'users:user_manage' %}">
            <i class="bi bi-circle"></i><span>Пользователи</span>
          </a>
        </li>
        <li>
          <a href="{% url 'users:group_manage' %}">
            <i class="bi bi-circle"></i><span>Группы пользователей</span>
          </a>
        </li>
        <li>
          <a href="{% url 'docs:docs_manage' %}">
            <i class="bi bi-circle"></i><span>Документы</span>
          </a>
        </li>
        <li>
          <a href="{% url 'docs:category_manage' %}">
            <i class="bi bi-circle"></i><span>Категории документов</span>
          </a>
        </li>
        <li>
          <a href="{% url 'posts:post_manage' %}">
            <i class="bi bi-circle"></i><span>Новости</span>
          </a>
        </li>
        <li>
          <a href="{% url 'posts:category_manage' %}">
            <i class="bi bi-circle"></i><span>Рубрики новостей</span>
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

  <li class="nav-heading">Страницы</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'users:user_list' %}">
      <i class="bi bi-people"></i>
      <span>Пользователи</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'docs:doc_list' %}">
      <i class="bi bi-question-circle"></i>
      <span>Документы</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'posts:post_list' %}">
      <i class="bi bi-question-circle"></i>
      <span>Новости</span>
    </a>
  </li>

</ul>