{% extends "base.html" %}
{% load static %}
{% block title %}Управление новостями - админка{% endblock %}
{% block content %}

  <div class="pagetitle">
    <h1>Управление новостями</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}"><i
            class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item">Управление новостями</li>
      </ol>
    </nav>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-12">
        <div class="card profile-list-card mb-3">
          <div class="card-body d-flex flex-row row">
            <div class="row pb-2 pt-2">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Опубликовано</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Автор</th>
                    <th class="text-center">Изменить</th>
                    <th class="text-center">Удалить</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if page_obj %}
                    {% for post in page_obj %}
                      <tr>
                        <th scope="row">{{ post.id }}</th>
                        <td>
                          <a
                              class="edit-modal-open document-title"
                              role="button"
                              data-endpoint="{% url 'posts:post_edit' post_id=post.id %}"
                          >{{ post.title }}</a>
                        </td>
                        <td>{{ post.category.title }}</td>
                        <td>
                          {% if post.is_published %}
                            Да
                          {% else %}
                            Нет
                          {% endif %}
                        </td>
                        <td>{{ post.created_at|date:'d M Y' }}</td>
                        <td>{{ post.author.email }}</td>
                        <td class="text-center">
                          <a
                              class="bi bi-pencil-fill edit-modal-open"
                              role="button"
                              data-endpoint="{% url 'posts:post_edit' post_id=post.id %}"
                          ></a>
                        </td>
                        <td class="text-center">
                          <a
                              class="bi bi-x-lg remove-modal-open"
                              role="button"
                              data-endpoint="{% url 'posts:post_remove' post_id=post.id %}"
                          ></a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <td colspan="8" class="text-center">Новости не найдены</td>
                  {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12">
              {% include 'inc/_pagination.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-12">
        <div class="card">
          <div class="card-body"><h5 class="card-title">Фильтры и сортировка</h5>
            <form method="get">
              {% include 'inc/forms/_search_form.html' %}
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-5 col-md-12">
        <div class="card">
          <div class="card-body"><h5 class="card-title">Добавление новости</h5>
            <button
                type="button"
                class="btn btn-primary create-modal-open"
                data-endpoint="{% url 'posts:post_create' %}"
            >
              Добавить новость
            </button>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="card">
          <div class="card-body"><h5 class="card-title">Описание</h5>
            <p>Здесь вы можете добавить новость. Для этого нажмите кнопку "добавить новость", введите название новости, саму новость (доступны текст, таблицы, картинки, ссылки), выберите предварительно добавленную категорию, группы пользователей, для которых эта новость сделана, а такжепоставьте галочку "опубликовать новость". Если эта
              галочка не стоит, новость будет сохранена, но пользователи ее не увидят.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="postEditModal" data-bs-backdrop="static"
       tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalEditTitle">Изменение новости</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="modalEditClose"
                  data-bs-dismiss="modal">Закрыть
          </button>
          <button id="modalEditSubmit" type="button" class="btn
          btn-primary">Сохранить
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="postRemoveModal" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalRemoveTitle">Удаление
            новости</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  id="modalRemoveClose">Отмена
          </button>
          <button id="modalRemoveSubmit" type="button" class="btn
            btn-primary">Да
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <link rel="stylesheet"
        href="{% static 'vendor/bootstrap-select/bootstrap-multiselect.min.css' %}">
  <script
      src="{% static 'vendor/bootstrap-select/bootstrap-multiselect.min.js' %}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script>

      const image_upload_handler = (blobInfo, progress) => new Promise((resolve, reject) => {
          const xhr = new XMLHttpRequest();
          xhr.withCredentials = false;
          xhr.open('POST', '{% url 'posts:upload_images' %}');

          xhr.upload.onprogress = (e) => {
              progress(e.loaded / e.total * 100);
          };

          xhr.onload = () => {
              if (xhr.status === 403) {
                  reject({message: 'HTTP Error: ' + xhr.status, remove: true});
                  return;
              }

              if (xhr.status < 200 || xhr.status >= 300) {
                  reject('HTTP Error: ' + xhr.status);
                  return;
              }

              const json = JSON.parse(xhr.responseText);

              if (!json || typeof json.location != 'string') {
                  reject('Invalid JSON: ' + xhr.responseText);
                  return;
              }

              resolve(json.location);
          };

          xhr.onerror = () => {
              reject('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
          };

          const formData = new FormData();
          formData.append('file', blobInfo.blob(), blobInfo.filename());
          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
          xhr.send(formData);
      });
      let tinymceSettings = {
          selector: 'textarea',
          height: "600",
          images_upload_handler: image_upload_handler,
          language: 'ru',
          images_reuse_filename: false,
          automatic_uploads: true,
          plugins: 'preview searchreplace code fullscreen image link media table charmap nonbreaking advlist lists help quickbars emoticons',
          menubar: false,
          toolbar: 'undo redo bold italic underline link table  image  media | blocks hr alignleft aligncenter alignright alignjustify | numlist bullist  | forecolor backcolor removeformat | outdent indent code charmap emoticons | fullscreen  preview ',
          content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
          setup: function (editor) {
              editor.on('init', function (e) {
                  console.log('The Editor has initialized.');
              });
          }
      }
      jQuery(document).ready(function ($) {
          let multiselectOptions = {
              nonSelectedText: 'Выбрать группы',
              includeSelectAllOption: true,
              selectAllText: 'Выбрать все',
              allSelectedText: 'Выбрано все',
              buttonContainer: '<div class="btn-group multiselect-group">',
              buttonClass: 'btn btn-primary',
              buttonText: function (options) {
                  if (options.length === 0) {
                      return 'Выбрать группы';
                  } else if (options.length >= 2) {
                      return options.length + ' выбрано';
                  } else {
                      var selected = [];
                      options.each(function () {
                          selected.push([$(this).text(), $(this).data('order')]);
                      });

                      selected.sort(function (a, b) {
                          return a[1] - b[1];
                      });

                      var text = '';
                      for (var i = 0; i < selected.length; i++) {
                          text += selected[i][0] + ', ';
                      }

                      return text.substr(0, text.length - 2);
                  }
              },
              templates: {
                  button:
                      '<button type="button" class="multiselect dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                  popupContainer: '<div class="multiselect-container ' +
                      'dropdown-menu"></div>',
              },
          }

          const postEditModal = new bootstrap.Modal(document.getElementById('postEditModal'))
          const postRemoveModal = new bootstrap.Modal(document.getElementById('postRemoveModal'))
          let updateLink = $('.edit-modal-open')
          let createLink = $('.create-modal-open')
          let removeLink = $('.remove-modal-open')
          let modalEditBody = document.querySelector('#postEditModal .modal-body')
          let modalRemoveBody = document.querySelector('#postRemoveModal .modal-body')
          let modalEditSubmit = document.querySelector('#modalEditSubmit')
          let modalRemoveSubmit = document.querySelector('#modalRemoveSubmit')
          let modalEditTitle = document.querySelector('#modalEditTitle')
          let modalEditClose = document.querySelector('#modalEditClose')
          let modalRemoveClose = document.querySelector('#modalRemoveClose')
          let endpoint

          updateLink.click(function () {
              endpoint = $(this).attr('data-endpoint');
              modalEditSubmit.classList.remove('d-none');
              postEditModal.show();
              loadFormContentAjax('Изменить новость');
          });
          createLink.click(function () {
              endpoint = $(this).attr('data-endpoint');
              modalEditSubmit.classList.remove('d-none');
              postEditModal.show();
              loadFormContentAjax('Добавить новную новость');
          });
          removeLink.click(function () {
              $(modalRemoveClose).text('Отмена')
              $(modalRemoveSubmit).removeClass('d-none');
              endpoint = $(this).attr('data-endpoint');
              postRemoveModal.show();
              let postTitle = $(this).parent().parent().find('a' +
                  '.document-title').text();
              modalRemoveBody.innerHTML = '<p>Вы уверены, что хотите удалить' +
                  ' новость ' + postTitle + '</p>';
          });
          modalEditClose.addEventListener
          ('click', function () {
              postEditModal.hide();
          });
          modalRemoveClose.addEventListener
          ('click', function () {
              postEditModal.hide();
          });

          $(modalEditSubmit).on('click', PostPostAjax);
          $(modalRemoveSubmit).on('click', PostRemoveAjax);

          $('#postEditModal').on('shown.bs.modal', function () {
              tinymce.init(tinymceSettings);
          });
          $('#postEditModal').on('hidden.bs.modal', function () {
              tinymce.remove();
          });

          function loadFormContentAjax(title) {
              $.ajax({
                  type: 'get',
                  url: endpoint,
                  success: function (response) {
                      modalEditBody.innerHTML = '';
                      modalEditBody.innerHTML = response;
                      let groupForm = $(modalEditBody).find('form');
                      modalEditTitle.innerHTML = title;
                      modalEditSubmit.setAttribute('form', groupForm.attr('id'));
                      $('#multiselect').multiselect(multiselectOptions);
                      modalRemoveClose.textContent = 'Закрыть'
                  },
                  error: function (response) {
                      console.log(response);
                      modalEditBody.innerHTML = 'Произошла ошибка. Попробуйте ' +
                          'позднее или обратитесь к администратору';
                      $(modalEditSubmit).addClass('d-none');
                      modalRemoveClose.textContent = 'Закрыть'
                      showToast('text-bg-danger', 'Неудачно', 'Неудачная ' +
                          'попытка загрузки контента')
                  }
              });
          }

          function PostRemoveAjax(e) {
              e.preventDefault();
              let data = new FormData();
              data.append('csrfmiddlewaretoken', csrftoken)
              $.ajax({
                  data: data,
                  type: 'post',
                  url: endpoint,
                  cache: false,
                  processData: false,
                  contentType: false,
                  success: function (response) {
                      modalRemoveBody.innerHTML = '<p>Новость успешно удалена. Обновите страницу, чтобы в этом убедиться</p>';
                      showToast('text-bg-success', 'Успешно', 'Новость успешно удалена')
                  },
                  error: function () {
                      modalRemoveBody.innerHTML = 'Произошла ошибка. Попробуйте позднее или обратитесь к администратору';

                      showToast('text-bg-danger', 'Неудачно', 'Неудачная попытка удаления новости')
                  },
                  complete: function (response) {
                      console.log(response)
                      $(modalRemoveClose).text('Закрыть')
                      $(modalRemoveSubmit).addClass('d-none');
                  }
              });
          }

          function PostPostAjax(e) {
              e.preventDefault();
              tinyMCE.triggerSave();
              let form = $(modalEditBody).find('form');
              let data = new FormData(form.get(0));
              data.append('csrfmiddlewaretoken', csrftoken);

              tinymce.activeEditor.uploadImages().then(() => {
                  $.ajax({
                      type: 'post',
                      url: endpoint,
                      data: data,
                      cache: false,
                      processData: false,
                      contentType: false,
                      success: function (response) {
                          console.log(response);
                          PostFormSuccess(modalEditSubmit);
                          showToast('text-bg-success', 'Успешно', 'Новость успешно обновлена');
                      },
                      error: function (response) {
                          console.log(response);
                          PostFormError(response, form);
                          showToast('text-bg-danger', 'Неудачно', 'Неудачная попытка обновления новости');
                      }
                  });
              });
          }


          function PostFormError(response, form) {
              form.find('div.invalid-feedback').remove()
              form.find('input, textarea, select, .multiselect-group')
                  .click(function () {
                      $(this).next('div.invalid-feedback').remove()
                  })
              let form_errors = response['responseJSON']['errors']
              console.log(form_errors)
              for (let key in form_errors) {
                  let el = form.find('[name=' + key + ']')
                  if ($(el).hasClass('multiselect')) {
                      $(el).next('.multiselect-group').after(
                          '<div class="invalid-feedback">' + form_errors[key] + '</div>'
                      )
                  } else {
                      $(el).after(
                          '<div class="invalid-feedback">' + form_errors[key] + '</div>'
                      )
                  }
              }
          }

          function PostFormSuccess(btn) {
              modalEditBody.innerHTML = '<p>Новость успешно сохранена. ' +
                  'Обновите страницу чтобы ее увидеть</p>';
              $(btn).addClass('d-none')
          }

      });


      document.addEventListener('focusin', function (e) {
          if (e.target.closest('.tox-tinymce-aux, .moxman-window, .tam-assetmanager-root') !== null) {
              e.stopImmediatePropagation();
          }
      });

      window.addEventListener('load', () => {
          const dropdown = document.querySelector('.pagination');
          dropdown.classList.toggle('pagination-sm',
              window.matchMedia('(max-width:769px)').matches);
      });

      window.addEventListener('resize', () => {
          const dropdown = document.querySelector('.pagination');
          dropdown.classList.toggle('pagination-sm',
              window.matchMedia('(max-width:769px)').matches);
      });
  </script>
{% endblock %}